@page
@model MainExwhyzee.Web.Pages.AG.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if(TempData["nocode"] != null)
{
    <h1>NAMES LIST</h1>
    @if (TempData["noaccess"] != null)
    {
        <h6>ACCESS DENIED</h6>
    }
    <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">ENTER ACCESS CODE</label>
                <input name="code" class="form-control" />
             </div>
            
                    <div class="form-group">
                        <input type="submit" value="Access" class="btn btn-primary" />
                        <a asp-page="/Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Home</a>

                    </div>
                </form>
           

}
@if(TempData["access"] != null){

<h1>NAMES LIST (@Model.Agsmis.Count())</h1>

<div class="table-responsive">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>S/N</th>
            <th>
                @Html.DisplayNameFor(model => model.Agsmis[0].Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Agsmis[0].Source)
            </th>

        </tr>
    </thead>
   
        @{
            int sn = 0;
        }
        <tbody>
        @foreach (var item in Model.Agsmis)
        {
                <tr>
                    <td>@{sn++;}
                        @sn
                    </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>

            </tr>
        }
    </tbody>
</table>
</div>
}